Repository reactjs/uk.react.dev, pull requests merged in 2019-03, with the labels that each got.

#35 Translate page "DOM Elements" from the "API Reference" section
  content/docs/reference-dom-elements.md
Labels: API Reference, priority: high

#54 Translate API Reference for ReactDOMServer into Ukrainian
  content/docs/reference-react-dom-server.md
Labels: API Reference, priority: high

#36 Synthetic event
  content/docs/reference-events.md
Labels: API Reference, priority: high

#48 Added translation for "React without ES6" section
  content/docs/nav.yml
  content/docs/react-without-es6.md
Labels: Advanced Guides

#55 Translation of Glossary
  TRANSLATION.md
  content/docs/reference-glossary.md
Labels: API Reference, priority: high

#46 Added translation for "React without JSX" section
  content/docs/nav.yml
  content/docs/react-without-jsx.md
Labels: Advanced Guides

#38 Translation of reference-react-dom.md
  content/docs/reference-react-dom.md
Labels: API Reference, priority: high

#61 Hooks State
  content/docs/hooks-state.md
Labels: Hooks, priority: high

#65 Translate "Test Renderer" for "API Reference" to Ukrainian
  content/docs/reference-test-renderer.md
Labels: API Reference, priority: high

#53 Data Fetching to Отримання даних
  content/community/nav.yml
  content/community/tools-data-fetching.md
Labels: Community

#40 translated debugging-tools into Ukraine language
  content/community/nav.yml
  content/community/tools-debugging.md
Labels: Community

#63 Translated "Hooks at a glance" into Ukrainian
  content/docs/hooks-overview.md
Labels: Hooks, priority: high

#70 Translate title in Hello World section
  content/docs/hello-world.md
Labels: priority: high

#64 Translation of some components on home page
  content/home/examples/a-component-using-external-plugins.js
  content/home/examples/a-simple-component.js
  content/home/examples/a-stateful-component.js
  content/home/examples/an-application.js
Labels: Basics

#71 Translate titles in nav
  content/docs/nav.yml
Labels: Basics, priority: high

#66 Translation FAQ: Component State
  content/docs/faq-state.md
Labels: FAQ

#76 Translation: Custom Hooks
  TRANSLATION.md
  content/docs/hooks-custom.md
Labels: Hooks, priority: high

#77 Translate "Fragments" into Ukrainian
  content/docs/fragments.md
Labels: Advanced Guides, Changes requested

#62 Create a New React App 🐙
  content/docs/create-a-new-react-app.md
Labels: Changes requested, priority: high

#75 WIP: State and lifecycle
  content/docs/state-and-lifecycle.md
Labels: Basics, Changes requested, priority: high

#82 Translate Portals into Ukrainian
  content/docs/portals.md
Labels: Changes requested

#72 Translate `Hook Rules` to Ukrainian
  content/docs/hooks-rules.md
Labels: Changes requested, Hooks, priority: high

#87 README.md translation
  README.md
Labels: Changes requested

#88 Hooks API Reference
  content/docs/hooks-reference.md
Labels: Changes requested, priority: high
