Repository reactjs/uk.react.dev, pull requests merged in 2019-05, with the labels that each got.

#121 Translation of Strict Mode
  content/docs/strict-mode.md
Labels: Advanced Guides, Changes requested

#95 translation(hooks): intro
  content/docs/hooks-intro.md
Labels: Changes requested, Hooks, priority: high

#128 Translation of Static Type Checking
  content/docs/static-type-checking.md
Labels: Advanced Guides

#123 Refs and the DOM
  content/docs/refs-and-the-dom.md
Labels: Advanced Guides, Changes requested, priority: high

#133 Translate Uncontrolled components
  content/docs/uncontrolled-components.md
Labels: Advanced Guides, Changes requested
