Repository reactjs/uk.react.dev, pull requests merged in 2019-04, with the labels that each got.

#98 Typechecking with Proptypes translated
  content/docs/typechecking-with-proptypes.md
Labels: Advanced Guides, Changes requested

#85 Tutorial translation
  content/tutorial/tutorial.md
Labels: Changes requested, priority: high

#97 JSX in depth
  content/docs/jsx-in-depth.md
Labels: Advanced Guides, Changes requested

#102 Lifting state up
  content/docs/lifting-state-up.md
Labels: Basics, Changes requested, priority: high

#101 Error handling terms
  TRANSLATION.md
Labels: enhancement

#100 Hooks FAQ
  content/docs/hooks-faq.md
Labels: Changes requested, Hooks, priority: high

#103 Warning: dont-call-proptypes
  content/warnings/dont-call-proptypes.md
Labels: Changes requested, Warnings

#107 Translate "Web components" document into Ukrainian
  content/docs/web-components.md
Labels: Advanced Guides, priority: medium

#106 Translation of Render Props
  content/docs/render-props.md
Labels: Advanced Guides, priority: medium

#111 Translate Web Components document into Ukrainian
  content/docs/web-components.md
Labels: Advanced Guides, priority: medium

#112 Translate Forms section to Ukrainian
  content/docs/forms.md
Labels: Basics, Changes requested, priority: high

#114 Translation of Optimizing Performance
  content/docs/optimizing-performance.md
Labels: Advanced Guides, priority: medium

#115 Translate FAQ: File Structure into Ukrainian
  content/docs/faq-structure.md
Labels: FAQ, priority: medium

#119 Improve Getting Started page translation
  content/docs/getting-started.md
Labels: enhancement
